
<div class="container" style="margin-top: 10px;">
    <div class="col-3">
        <div class="label">  ADD NEW<br>
            <input type="button" value="ADD NEW" (click)="AddUerInPacaniada()">
        </div>
    </div>
    <h4>Jucatori</h4>
    <div class="row" *ngFor="let user of clasamentPacaniada.users;let i = index" [attr.data-index]="i">
        <div class="col-3">
            <div class="label"> {{i + 1}}. Name
                <input (keydown.enter)="SavePacaniada(-1)" type="text" class="form-control" [(ngModel)]="user.name" id="typeahead-basic"/>                
            </div>
        </div>
        <div class="col-3">
            <div class="label">  Start
                <input class="input-group-text"  (keydown.enter)="SavePacaniada(-1)" type="number" class="form-control"required [(ngModel)]="user.start"/>
            </div>
        </div>
        <div class="col-3">
            <div class="label">  End
                <input class="input-group-text"  (keydown.enter)="SavePacaniada(user.end)" type="number" class="form-control"required [(ngModel)]="user.end"/>
            </div>
        </div>
        <div class="col-3">
            <div class="label">  SCOR<br>
                <h3> {{user.end - user.start}}</h3>
            </div>
        </div>
    </div>   
</div>