

        <div class="context">   
        </div>
        <div class="area" >
                <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                </ul> 
                <div class="container-fluid">
                <div class="row">
                <div class="col-4">
                    <div class="label">
                        <iframe class="branch" style="border: transparent;" id="inneriframe" [src]="href | safe"> </iframe> 
                    </div>
                </div>  
                <div class="col-4">
                    <div class="label">
                        <iframe class="branch" style="border: transparent;" id="inneriframe" [src]="hrefbh | safe"> </iframe> 
                    </div>
                    <div style="z-index: 20;" class="app-login animate__animated animate__fadeInRight">
                        <app-login></app-login>
                    </div>
                </div> 
                <div class="col-4" style="height: 200px;pointer-events: none">
                    <div class="label">
                        <iframe class="branch" style="border: transparent;" id="inneriframe" [src]="hrefbf | safe"> </iframe> 
                    </div>
                </div>
                </div>
            </div>
                
                    <div class="footer bg-dark">
                        <div class="container" style="color: white;">
                            <br>
<div class="g-ytsubscribe" data-channelid="UCVys2Q0f659A5EutSddgcDA" style="height: 60px;" data-layout="full" data-theme="dark" data-count="default"></div>
                            <br>
                            v 0.9.9.2 Free to use untill 5/11/2021
                            <br>
                            You can buy a licence from coxinotv@gmail.com or on coxinotv.ro/contact
                            <br>
                            Some content of this website may be used without any permisions, if you have any copyright issues please adress to coxinotv@gmail.com
                            <br>
                        </div>
                    </div>

        </div >


