<ul class="navbar-nav"> 
<li class="nav-item">
    <a class="nav-link" href="/edit-inplay">In Play</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tranzactiiedit">Generals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/loyaltyfe">Loyalty</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/bettingedit">Betting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/bonusHuntEdit">Bonus Hunt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tournamentEdit">Tournament</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/customTheme">Edit Theme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/obsconfig">Obs Config</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ligaspecialelor">Liga Specialelor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/version/log">Update Log</a>
  </li>   
</ul>
    