    <div class="container-grid">
        <div [ngClass]="option.displaypos" *ngFor="let option of websites">
            <div class="">
                <h1><i class="fa fa-cogs" aria-hidden="true"></i>{{option.nume}}</h1>               
                <h4>
                    <span>
                        {{website}}/{{option.path}}?username={{username}}
                        <button class="btn btn-primary" (click)="copy(website+'/'+option.path+'?username='+username)" type="button"><i class="fa fa-copy"></i></button>
                    </span>
                </h4>
                <h4><i class="fa fa-info"></i> Info: {{option.description}}</h4>
                <h3>Width : {{option.width}} <button class="btn btn-primary" (click)="copy(option.width)" type="button"><i class="fa fa-copy"></i></button></h3>
                <h3>Height :  {{option.height}} <button class="btn btn-primary" (click)="copy(option.height)" type="button"><i class="fa fa-copy"></i></button></h3>           
            </div>             
            <iframe frameBorder="0" [style]="{'width': (option.width+10)+'px', 'height':(option.height+10)+'px'}" [src]="website + '/' + option.path + '?username=' + username | safe"></iframe>         
        </div>
    </div>