.bonus-hunt-end
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    //background-color: rgba(255, 183, 29, 0.212);
    //background-image: url("../../assets/img/rraining-money.gif");
    
    .title
    {
        font-size: 10vw;
        color: white;
    }
}

.profit-bag
{
    position: absolute;
    margin-left: 15vw;
    margin-top: 12vw;
    width: 100vw;
    height: 100vh;    
    //background-image: url("../../assets/img/DimwittedGrayFawn.png");
    background-repeat: no-repeat;
    
    .title
    {
        font-size: 10vw;
        color: white;
    }
}