 body
 {
   overflow:hidden !important;
   font-family: 'HelveticaLocal', 'Arial', sans-serif;
   font-weight: Regular;
   font-size: 88;
 }

 .scroll{
    left: 0px;
    position: absolute;
    width: 92%;      
    top:0;        
  }

  .scroll-anim
  {
    animation: scroll var(--animation-timer) linear 0.1s infinite;
  }

  @keyframes scroll {
    100% { top:-100%; }
}

.col-txt
{
  font-size: 22px;
}