<div class="animate__animated animate__bounceIn" [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}">
    
    <div class="text-center">       
       <h2> VOTEAZA BALANTA FINALA</h2>
   total predictii {{balantaFinala}}
    <!-- Break and foreach var betting option-->
    <div class="no-wrap">           
        ex: !final 5432<br>
        castiga 150 RON RULAJ 1X
    </div>
    <!-- <br>
    <div class="text-center">
       <h2>INSCRIE-TE LA GIVEAWAY </h2> 
        Jucatori Inscrisi {{inscrisiLaGiveaway}}
     Break and foreach var betting option
    <div class="no-wrap">           
       scrie !lma in chat si te inscrii automat la GIVEAWAY<br>
       Castiga PREMII de la roata bonusurilor 
    </div> -->
    <h1 style="color: red;">!MAXIM 1 CONT/PERS!</h1>    
</div>
</div>
<br>
   

<!--<div class="row"><div class="col"></div></div>
   
   
    <div class="row"><div class="col">  Inscrisi ()
        Castiga PREMII la roata bonusurilor 
        
        <div class="row"><div class="col"></div></div>
    
         Castiga PREMII la roata bonusurilor 
         Inscrisi () </div></div>-->