#inneriframe
{
    position:absolute;
    top:0px;
    width: 100%;  
}

iframe
{
    border: hidden;
}

#outerdiv
{    
    margin-left: -16px;
    height: 150px;
    width: 116%;
    overflow:hidden;
    position:relative;
}

.bh-value
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font: size 55px;;
    text-align: center;                
}

.col-hd
{
    font-size: 20px;
}