
    <div class="divide-box animate__animated animate__fadeInLeft" style="margin:10px; width: 96vw;height: 90vh;" *ngIf='showOff == true'><div [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}"> 
        <div class="container-absolute"> {{inHuntNumber}}</div>   
        <div class="container"> 
            <div class="col-3 top-radius">
                <div class="header-image" *ngIf='bonusHuntPreInfo.hunting==true' style="-webkit-mask-box-image: url(../../assets/img/play.png);"> </div>
                <div class="header-image" *ngIf='bonusHuntPreInfo.hunting==false' style="-webkit-mask-box-image: url(../../assets/img/video-pause-button.png);"> </div>
            </div>
        </div>
        <div class="container" style="margin-left: -120px;">             
            <div class="row in-play-text"> Statistici Joc</div> 
            <div class="row in-play-text" > Potential:{{currentGame.potential}}</div>
            <div class="row in-play-text" > Volatilitate:{{currentGame.volatility}}</div>              
            <div class="row in-play-text" > Provider:{{currentGame.provider}}</div>
        </div>
        <div class="container">      
            <div class="row in-play-text"> Istoric Joc</div>              
            <div class="row in-play-text" > Joc:{{currentGame.name}}</div>              
            <div class="row in-play-text" > Top Plata:{{gameHighestPay.PayAmount | currency:currencyCode:'symbol':'.0'}}({{gameHighestPay.BetSize}})</div>              
            <div class="row in-play-text" > Top Multi:{{gameHighestX.Multiplier}}({{gameHighestX.BetSize | currency:currencyCode:'symbol':'.0'}}) </div>  
        </div>
        <!-- <div class="col-3 top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/refresh.png);"> </div>
        </div> -->
    </div>
</div>

    <div class="divide-box animate__animated animate__fadeInLeft" style="margin:10px; width: 96vw;height: 90vh;" *ngIf='showOff == false'><div [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}"> 
        <div class="container-absolute">{{inHuntNumber}}</div> 
        <div class="col-3 top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/pie-chart.png);"> </div>
        </div>
        <div class="container">
            <div class="row"> Statistici Live </div>
            <div class="row in-play-text" > Miza Medie: {{bonusHuntPreInfo.averageBet}}</div>              
            <div class="row in-play-text" > Medie Castig: {{bonusHuntPreInfo.averageWin}}</div>  
            <div class="row in-play-text" > Medie Multi: {{bonusHuntPreInfo.averageMulti}}</div>  
        </div>            
        <div class="container">
            <div class="row" *ngIf='bonusHuntPreInfo.hunting==false'>  {{inHuntNumber}} Deschise </div>
            <div class="row" *ngIf='bonusHuntPreInfo.hunting==true'>  {{inHuntNumber.split("/")[1]}} Prinse </div>
            <div class="row in-play-text" > Pierdere:{{bonusHuntPreInfo.totalLoss}}</div>  
            <div class="row in-play-text" > Top Castig:{{bonusHuntPreInfo.bestPayValue}}</div>  
            <div class="row in-play-text" > Avg X Recup:{{bonusHuntPreInfo.averageMultiToBreakEven}}</div>  
        </div>        
    </div>   
</div>     

