<div class="container fixed">
    <button class="btn btn-primary" (click)="newTournament()"  *ngIf=(createnew)>New Tournament</button>
    <button class="btn btn-primary" (click)="newTournament()"  *ngIf=(!createnew)>Cancel</button>   
    
    <div class="row" *ngIf=(!createnew)>
        <div class="col-3">
            <div class="label"> Tournament Id(*optional)
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="id"/>
            </div>
        </div>
        <div class="col-1">
            <div class="label" >   
                16Teams <input class="input-group-radio" [value]="tournament.isOptimi" type="checkbox" class="form-control"required [(ngModel)]="tournament.isOptimi">
                8Teams <input class="input-group-radio"  [value]="tournament.isQuarter" type="checkbox" class="form-control"required [(ngModel)]="tournament.isQuarter">
                <!-- 4 Teams <input class="input-group-radio"  [value]="tournament.isSemis" type="checkbox" class="form-control"required [(ngModel)]="tournament.isSemis"> -->
            </div>            
        </div>
        <div class="col-3">
            <div class="label" > Fights between bonuses  
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="fights">
            </div>            
        </div>
        <div class="col-3">
            <div class="label"> Average Buy Value                
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="buyValue">
                
            </div>
        </div>        
        <div class="col-2" *ngIf=(!createnew)>
            <div class="label"> Create New
                <button class="btn btn-primary"  (click)="CreateTournament()" required>Create New</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf=(!createnew)>   
    <div *ngIf="tournament.isOptimi === false" >
        <div  *ngFor="let bonus of tournament.meciuriSferturi;let i = index" [attr.data-index]="i">
            <hr>
            <div class="row" >  
                <div class="col-2">
                    <div class="label">                   
                        <br *ngIf="hasPlayers" >
                        <p *ngIf="hasPlayers"> Viewer Name </p>
                        <br *ngIf="hasPlayers">
                        <br>
                        Game {{i+1}}
                    </div>
                </div>     
                <div class="col">
                    <div class="label"> Team 1 <br>
                        <input *ngIf="hasPlayers" class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.numeJucator"/>
                        <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.nume"/>
                    </div>
                </div> 
                <h1>vs</h1>
                <div class="col">
                    <div class="label"> Team 2 <br>
                        <input *ngIf="hasPlayers" class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.numeJucator"/>
                        <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.nume"/>
                    </div>       
                </div>         
            </div>   
        </div> 
    </div>
    
    <div *ngIf="tournament.isOptimi === true" >
        <div   *ngFor="let bonus of tournament.meciuriOptimi;let i = index" [attr.data-index]="i">
            <hr>
            <div class="row" >   
                <div class="col-2">
                    <div class="label">                   
                        <br *ngIf="hasPlayers" >
                        <p *ngIf="hasPlayers"> Viewer Name </p>
                        <br *ngIf="hasPlayers">
                        <br>
                        Game {{i+1}}
                    </div>
                </div>    
                <div class="col-4">
                    <div class="label"> Team 1 <br>
                        <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.numeJucator"/>
                        <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.nume"/>
                    </div>
                </div> 
                <h1>vs</h1>
                <div class="col-3">
                    <div class="label"> Team 2 <br>
                        <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.numeJucator"/>
                        <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.nume"/>
                    </div>       
                </div>         
            </div>   
        </div> 
    </div>
    <hr>
    <div class="row" > 
        
        <div class="col-2">
            Create betting from tournament
        </div> 
        <div class="col-2">
            <div class="label"> Max Bet                
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="maxBet">            
            </div>
        </div>    
        <div class="col-1" *ngIf=(!createnew)>
            <div class="label"> Start
                <button class="btn btn-primary"  (click)="CreateBetting()" required>Start Betting</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:0px;" *ngIf=(createnew)>     
    <span><h4>Current fight</h4> *KEY ENTER*</span>     
    <div class="row">       
        <div class="col-4">
            <div class="label"> Team 1
                <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search"  (keydown.enter)="saveCurrentFight()" type="text" class="form-control"required [(ngModel)]="currentFight.team1.nume"/>
            </div>
            <div class="label"> Bonus Cost
                <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="currentFight.team1.buyCost"/>
            </div>
            <div style="padding: 10px; background-color: #222; color: white; border-radius: 4px;"> <h4>Buys</h4>*You don`t need to remove 0* 
                <div class="label" *ngFor="let bonus of currentFight.team1.payout;let i = index" [attr.data-index]="i"> Buy {{i+1}}
                    <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="bonus.payout"/>
                </div>           
            </div>
        </div> 
        <h1 style="align-self: center;" >VS</h1>
        <div class="col-4">
            <div class="label">Team 2
                <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="gameHolder.search"  (keydown.enter)="saveCurrentFight()" type="text" class="form-control"required [(ngModel)]="currentFight.team2.nume"/>
            </div>
            <div class="label"> Bonus Cost
                <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="currentFight.team2.buyCost"/>
            </div>
            <div style="padding: 10px; background-color: #222; color: white; border-radius: 4px;"> <h4>Buys</h4>*You don`t need to remove 0* 
                <div class="label" *ngFor="let bonus of currentFight.team2.payout;let i = index" [attr.data-index]="i"> Buy {{i+1}}
                    <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="bonus.payout"/>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="label">NEXT?
                <button class="btn btn-primary"  (click)="CloseFight()" required>Next Fight</button>
            </div>
        </div>        
    </div>     
</div>

<app-tournament-livebattle></app-tournament-livebattle>