body
{
    height: 200vh !important;
    overflow: scroll !important;
    overflow-y:visible !important;
    
}

.fixed
{
    color: white;
    //position: fixed;   
    background-color: rgb(115, 197, 197); 
    padding: 20px;
    z-index:600;
}

.container-fluid
{
    margin-bottom: 100px;
}

