<div class="container-fluid fixed">
    <button class="btn btn-primary" (click)="newTournament()"  *ngIf=(createnew)>New Tournament</button>
    <button class="btn btn-primary" (click)="newTournament()"  *ngIf=(!createnew)>Cancel</button>
    
    <h3> Current Tournament</h3>
    <div class="row">
        <div class="col-2">
            <div class="label"> Tournament Id(*optional)
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="id"/>
            </div>
        </div>
        <div class="col-2">
            <div class="label" > Numar de echipe  
               16 Echipe <input class="input-group-radio" [value]="tournament.isOptimi" type="checkbox" class="form-control"required [(ngModel)]="tournament.isOptimi">
               8 Echipe <input class="input-group-radio"  [value]="tournament.isQuarter" type="checkbox" class="form-control"required [(ngModel)]="tournament.isQuarter">
               4 Echipe <input class="input-group-radio"  [value]="tournament.isSemis" type="checkbox" class="form-control"required [(ngModel)]="tournament.isSemis">
            </div>            
        </div>
        <div class="col-2">
            <div class="label" > Fights between bonuses  
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="fights">
            </div>            
        </div>
        <div class="col-2">
            <div class="label"> Average Buy Value                
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="buyValue">
                
            </div>
        </div>        
        <div class="col-1" *ngIf=(!createnew)>
            <div class="label"> Create New
                <button class="btn btn-primary"  (click)="CreateTournament()" required>Create New</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 0px;" *ngIf=(!createnew)>   
    <div *ngIf="tournament.isOptimi === false" >
    <div  *ngFor="let bonus of tournament.meciuriSferturi;let i = index" [attr.data-index]="i"><h1>Fight #{{i+1}}</h1>
        <div class="row" >  
            <div class="col-1">
                <br>
                Nume Abonat : 
                <br>
                <br>
                Nume JOC :
            </div>     
            <div class="col-3">
                <div class="label"> Team 1 <br>
                      <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.numeJucator"/>
                     <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.nume"/>
                </div>
            </div> 
            <h1>vs</h1>
            <div class="col-3">
                <div class="label"> Team 2 <br>
                    <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.numeJucator"/>
                    <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.nume"/>
                </div>       
            </div>         
        </div>   
    </div> 
    </div>

    <div *ngIf="tournament.isOptimi === true" >
    <div   *ngFor="let bonus of tournament.meciuriOptimi;let i = index" [attr.data-index]="i"><h1>Fight #{{i+1}}</h1>
        <div class="row" >   
            <div class="col-1">
                <br>
                Nume Abonat : 
                <br>
                <br>
                Nume JOC :
            </div>     
            <div class="col-4">
                <div class="label"> Team 1 <br>
                   <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.numeJucator"/>
                   <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team1.nume"/>
                </div>
            </div> 
            <h1>vs</h1>
            <div class="col-3">
                <div class="label"> Team 2 <br>
                    <input class="input-group-text" id="typeahead-basic" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.numeJucator"/>
                    <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search" (keydown.enter)="saveTournament()" type="text" class="form-control"required [(ngModel)]="bonus.team2.nume"/>
                </div>       
            </div>         
        </div>   
    </div> 
</div>
    <h2>Create betting from tournament</h2> 
    <div class="row" >  
        <div class="col-2">
            <div class="label"> Max Bet                
                <input class="input-group-text" type="number" class="form-control"required [(ngModel)]="maxBet">            
            </div>
        </div>    
        <div class="col-1" *ngIf=(!createnew)>
            <div class="label"> Start
                <button class="btn btn-primary"  (click)="CreateBetting()" required>Start Betting</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:0px;" *ngIf=(createnew)>     
    <span><h4>Current fight</h4> *to update live enter value and press Enter(in the box u need to update)*</span>     
    <div class="row">       
        <div class="col-2">
            <div class="label"> Team 1
                <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search"  (keydown.enter)="saveCurrentFight()" type="text" class="form-control"required [(ngModel)]="currentFight.team1.nume"/>
            </div>
            <div class="label"> Bonus Cost
                <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="currentFight.team1.buyCost"/>
            </div>
            <div style="padding: 10px; background-color: #222; color: white; border-radius: 4px;"> <h4>Buys</h4>*You don`t need to remove 0* 
                <div class="label" *ngFor="let bonus of currentFight.team1.payout;let i = index" [attr.data-index]="i"> Buy {{i+1}}
                    <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="bonus.payout"/>
                </div>           
            </div>
        </div> 
        <h1>VS</h1>
        <div class="col-2">
            <div class="label">Team 2
                <input class="input-group-text" id="typeahead-basic" [ngbTypeahead]="search"  (keydown.enter)="saveCurrentFight()" type="text" class="form-control"required [(ngModel)]="currentFight.team2.nume"/>
            </div>
            <div class="label"> Bonus Cost
                <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="currentFight.team2.buyCost"/>
            </div>
            <div style="padding: 10px; background-color: #222; color: white; border-radius: 4px;"> <h4>Buys</h4>*You don`t need to remove 0* 
                <div class="label" *ngFor="let bonus of currentFight.team2.payout;let i = index" [attr.data-index]="i"> Buy {{i+1}}
                    <input class="input-group-text"  (keydown.enter)="saveCurrentFight()" type="number" class="form-control"required [(ngModel)]="bonus.payout"/>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="label">Live View Current Fight
                <app-tournament-livebattle></app-tournament-livebattle>
            </div>
        </div>  
        <div class="col-2">
            <div class="label">Finish *use only when battle finished*
                <button class="btn btn-primary"  (click)="CloseFight()" required>Next Fight</button>
            </div>
        </div>        
    </div>      
</div>
<div class="label">Live View Full Bracket Fight
    <app-tournament-livebattle-next></app-tournament-livebattle-next>
</div>
