<div class="gradient-border" *ngIf="loadingOver">
    <div class="container-flex">
        <div class="betting-page">
            <div class="title">
                <h3>Cat platesc Bonusurile?</h3>
            </div>
            <!-- <div class="container-flex"> -->
                <div style="margin-left: 0px;text-align: center; width: 100vw;" class="row">                    
                    <div class="col-3">
                        <h4>Voturi<br>{{totalVoturi}}</h4>
                    </div>
                    <div class="col-5">
                       <div>
                        <h4>COX TOTAL<br>{{totalFise}}</h4>
                        </div>
                    </div>
                    <div style="margin-left: -16px;" class="col-4">
                      <h1> {{timer}} </h1>
                    </div>
                </div> 
            <!-- </div>   -->
            <!-- Break and foreach var betting option-->
            <div class="content" *ngFor="let option of beturi; index as i;">
                <div class="betting-option">
                    <div class="container-flex">
                        <div class="row">
                            <div class="col-6" style="font-size: 22px;">
                                {{i+1}}. {{option.nume}}
                            </div>
                            <div class="col-4" style="font-size: 22px;">
                                {{option.optiune}}
                            </div>                        
                        </div> 
                        <div class="row">
                            <div class="col">
                                <div class="progress" style="height: 15px;">                
                                    <div style="font-size: 22px;" class="progress-bar"  [ngStyle]="{'width': option.progress + '%'}" role="progressbar" [attr.aria-valuenow]="option.progress" aria-valuemin="0" aria-valuemax="100">
                                        {{option.progress}}%
                                    </div>
                                </div>                            
                            </div>
                        </div>                   
                    </div> 
                </div>        
            </div>
        </div>
    </div>
</div>