<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Provider</th>
            <th scope="col">Numele Jocului</th>
            <th scope="col">Jucator</th>
            <th scope="col">Bet</th>
            <th scope="col">Califica</th>
            <th scope="col">Payout</th>
            <th scope="col">X</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of playAble; let i = index">        
            <!-- <td><img style="max-width: 50px;" [src]="game.game.image"></td> -->
            <td>{{i}}</td>
            <td>{{ game.game.provider }}</td>
            <td>{{ game.game.name }}</td>        
            <td>{{ game.playerName }}</td>
            <td>
                <input type="text" (keydown.enter)="SetInPlay(game)" [(ngModel)]="game.bet">
            </td>  
            <td>
                <button type="text" (click)="CalificaJocul(game)">>>BH</button>
            </td>  
            <td>
                <input type="text" (keydown.enter)="CalificaJocul(game)" [(ngModel)]="game.payOut">
            </td>  
            <td>
                {{ game.payOut / game.bet }}
            </td>           
        </tr>
    </tbody>
</table>
