.checked{
    color: rgb(255, 81, 0);
}

.casino-img{
    max-width:98%;
    object-fit: cover;
    border-radius: 1rem;
}

.fa-star{
    margin: 4px;
    font-size: x-large;
}

.giveway-box
{
    border:  2px solid rebeccapurple;
    border-radius: 1rem;
    display: flex; 
    flex-direction: column;
    
}

.d-flex
{
    gap: 1rem;
}

.title
{    
    border-radius: 1rem;
}

hr {
    margin-left: 0;
    margin-right: 0; 
}
.div-ftr
{
    display: flex;
    flex-direction: column;   
    flex-grow: 1;
    overflow: auto;
    justify-content: end;
}
