.checked{
    color: rgb(255, 81, 0);
}

.card
{
    border-radius: 1rem;
    min-width: 360px;
    max-width: 600px;
}

.casino-img{
    width:80%;
    height:40%;
    object-fit: cover;
    border-radius: 1rem;
}

.fa-star{
    margin: 4px;
    font-size: x-large;
}