<div class="p-5">
    <div class="d-flex flex-wrap">
        <div class="card p-2 m-3 mx-auto bg-dark text-light" *ngFor="let promo of promotii;">
            <img class="casino-img mx-auto" [src]="promo.image">
            <div class="card-title mx-auto text-center ">
                <div class="stars p-3">
                    <div class="starscontainer mx-auto">
                        <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 0}"></span>
                        <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 1}"> </span>
                        <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 2}"> </span>
                        <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 3}"> </span>
                        <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 4}"> </span>
                    </div>
                </div>
                <div class="card-title h1 fw-bold-grid">
                    {{promo.name}}
                </div>
            </div>
            <div class="card-body text-wrap" [innerHTML]="promo.descriere | linkify">
            </div>
            <a (click)="hasClicked(promo.name)" href="{{promo.link}}" class="btn btn-danger">
                <h2> {{promo.button ?? 'Get It Now'}} </h2> 
            </a>
        </div>
    </div>
</div>