<div class="animate__animated animate__fadeInDown" [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}" *ngIf="loadingOver">
    <div class="container">
        <div class="betting-page">
            <div class="title">
                {{beturi.voteTitle}}
            </div>
            
            <div style="text-align: center;" class="row">                    
                <div class="col">
                    Bets<br>{{totalVoturi}}
                </div>
                <div class="col">
                    Pot<br>{{totalFise}}
                </div>
                <div class="col">
                    Time<br><b>{{timer}}</b>
                </div>
            </div> 
            <div class="content" *ngFor="let option of beturi.options; index as i;">
                <div class="betting-option" *ngIf="option.didRefreshed==false">
                    <div class="container-flex option{{i}}" [ngClass]="{'animate__animated animate__fadeOutUp':!option.isVisible,'animate__animated animate__fadeInDown':!option.didRefreshed}">
                        <div class="row">
                            <div class="col no-wrap">
                                ({{option.key}}) {{option.nume}}
                            </div>
                            <div style="text-align: right;" class="col-5">{{option.progress}}% </div>                                                
                        </div> 
                        <div class="row">                              
                            <div class="col">                               
                                <div class="progress">                                              
                                    <div class="progress-bar{{i}}"  [ngStyle]="{'width': option.progress + '%'}" role="progressbar" [attr.aria-valuenow]="option.progress" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>                            
                            </div>
                        </div>                   
                    </div> 
                </div>        
            </div>
        </div>
        <br>
    </div>
</div>