<div class="animate__animated animate__fadeInRight">  
    <div [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}" >        
        <h1 style="color: tomato;"><i style="margin-top: 15px;" class="fa fa-arrow-up"></i></h1><h1 style="margin-top: 15px;"> {{tranzactii.depunere | currency:currencyCode:' ':'.0'}}</h1>
        <h1 style="color: turquoise;"><i style="margin-top: 15px;" class="fa fa-arrow-down"></i></h1><h1 style="margin-top: 15px;"> {{tranzactii.retragere | currency:currencyCode:' ':'.0'}}</h1>
    </div>
</div>
