<app-navigation-bar></app-navigation-bar>
<div class="page">
    <div class="page-container">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> 
            {{title}} </div> 
            <h3>The most complete casino streaming tool </h3> 
            <h5>VERSION 1.0.0 LTS RELEASE ON MARCH 1ST 2023</h5> 
            <h6>current version: BETA {{version}}</h6>
        <h1>
            <span> 
                <a href="https://discord.gg/UvtsVmevEg">
                    <img src="assets/img/discord_1.png">
                </a>
            </span>
        </h1>
        <h1>Our suite contains and does not limit to next software</h1>       
        <div class="page-inside grid-5">        
            <div class="hero hero-left">                
                <a href=""> 
                    <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">            
                </a>
            </div>
            <div class="hero hero-center">  
                <a href="">
                    <img src="assets/img/Landing/STREAM.png">            
                </a>
            </div> 
            <div class="hero hero-center">  
                <a href="">
                    <img src="assets/img/Landing/STREAM.png">            
                </a>
            </div>
            <div class="hero hero-center">  
                <a href="#api">
                    <img src="assets/img/Landing/SHOP.png">            
                </a>
            </div>
            <div class="hero hero-right">
                <a href="#api">                                
                    <img src="assets/img/Landing/API.png">
                </a>
            </div>   
        </div> 
    </div>  
</div>
<div class="page2">
    <div class="page-container">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> streaming overlays
        </div>
        <h3>Tool to edit WIDGETS</h3>
        <h3>use your creativity and create your own widgets</h3>
        <h3>EASY SETUP - IMPORT as BROWSER SOURCES</h3>
        <div class="page-inside grid-5" >        
            <div class="hero"> 
                <h2> bonus hunt</h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>     
            <div class="hero"> 
                <h2> tournaments </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div> 
            <div class="hero expand-row"> 
                <h2> betting sistem </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
                <h5> users can vote and be rewarded at the end of contest </h5>
                <h5> integrated with shop.api </h5>
            </div>   
            <div class="hero"> 
                <h2> reward comunty with one key </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>
            <div class="hero"> 
                <h2> hot words </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
                <h5> chat heat </h5>
            </div>  
            <div class="hero"> 
                <h2> interactive games </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
                <h5> play games with chat</h5>
            </div>   
            <div class="hero"> 
                <h2> GUESS THE BALANCE </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
                <h5> users can vote ENDING BALANCE BY WRITING !end 'sum'</h5>
            </div>      
            <div class="hero"> 
                <h2> complete guide </h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
                <h5> complete guide can be found on OBS seutp page</h5>               
            </div>       
        </div> 
    </div>    
</div>
<div id="api" class="page3">
    <div class="page-container ">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> LOYALTY API
        </div>
        <H3>REWARD YOUR COMUNITY</H3>
        <h4>ENABLE LOYALTY POINTS - GET YOUR OWN SHOP PAGE - EDIT YOUR SHOP ITEMS</h4>
        <div class="page-inside grid-3">        
            <div class="hero"> 
                <h2> ENABLE LOYALTY POINTS</h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>     
            <div class="hero"> 
                <h2> GET YOUR OWN SHOP PAGE WITH 1 CLICK</h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div> 
            <div class="hero">                 
                <h2> USE OUR API TO IMPLEMENT THE SHOP IN YOUR WEBSITE </h2>                
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>        
        </div> 
    </div>    
</div>


