<app-navigation-bar></app-navigation-bar>
<div class="page3">
    <div class="page-container">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> 
            {{title}}
            <span>
                <h6>current version: BETA {{version}}</h6> 
                <h5>VERSION 1.0.0 LTS RELEASE ON MARCH 1ST 2023</h5> 
            </span>
        </div> 
        <p>We are proud to offer the most complete casino streaming tool on the market. Our tool offers a wide range of features and capabilities, including the ability to access past bonus hunts and tournaments, edit overlay widgets, and view important graphs, all on one page. Additionally, our tool includes a loyalty system that eliminates the need for third-party software, and a Loyalty API that allows for easy integration with other systems. This tool is perfect for casino streamers, providing everything you need to stream like a pro. </p> 
        <span> 
            <a alt="Casino Stream Overlay - Bonus Hunt Overlay - Slots Tournaments Overlay" href="https://discord.gg/UvtsVmevEg">
                <img alt="Casino Stream Overlay - Bonus Hunt Overlay - Slots Tournaments Overlay" style="height: 100px;" src="assets/img/discord_1.png">
            </a>
        </span>
        <h2>Our suite includes, but is not limited to, the following software:</h2>   
        <ul>
            <li>An advanced loyalty system that eliminates the need for third-party software</li>
            <li>The ability to access past bonus hunts and tournaments</li>
            <li>A user-friendly interface for editing overlay widgets and viewing important graphs</li>
            <li>A Loyalty API that enables integration with other systems</li>
            <li>A variety of other features and capabilities that make it the most complete casino streaming tool available.</li>
        </ul>  
        <!-- <div class="page-container">
            <div class="page-inside grid-5">        
                <div class="hero hero-left">                
                    <a href=""> 
                        <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">            
                    </a>
                </div>
                <div class="hero hero-center">  
                    <a href="">
                        <img src="assets/img/Landing/STREAM.png">            
                    </a>
                </div> 
                <div class="hero hero-center">  
                    <a href="">
                        <img src="assets/img/Landing/STREAM.png">            
                    </a>
                </div>
                <div class="hero hero-center">  
                    <a href="#api">
                        <img src="assets/img/Landing/SHOP.png">            
                    </a>
                </div>
                <div class="hero hero-right">
                    <a href="#api">                                
                        <img src="assets/img/Landing/API.png">
                    </a>
                </div>   
            </div> 
        </div> -->
    </div>      
</div>
<div class="page2">
    <div class="page-container">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> Short Description
        </div>
        <h4>
            Our suite is a complete casino streaming tool that offers a wide range of features and capabilities, including advanced loyalty system, bonus hunts and tournaments, widgets editor, loyalty API, betting system and reward system. With this suite, you can stream like a pro, entertain your community, increase engagement and interaction and provide valuable information.
        </h4>               
        <div class="tooltips-container">
            <div class="tool-tip  span-col2">
                <div class="tool-name">Bonus Hunt
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Easily create and keep track of bonus hunts with our user-friendly tools. Streamline the process and provide valuable information to your audience.
                </p>     
            </div>
            <div class="tool-tip span-col2">
                <div class="tool-name">Tournaments
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Easily create tournaments and entertain your community with our powerful suite of tools. Manage and organize tournaments, increase engagement and interaction with your audience.
                </p>     
            </div>
            <div class="tool-tip">
                <div class="tool-name">Reward Your Community
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Reward your community for their engagement and loyalty, create custom rewards and track their progress.
                </p>     
            </div> 
            <div class="tool-tip span-col2">
                <div class="tool-name">Betting Overlays
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Easily implement a betting system that allows your audience to place bets on the outcome and increase engagement and interaction with your community.
                </p>     
            </div>    
                   
            <div class="tool-tip span-col3">
                <div class="tool-name"> Easy Configuration for all Streaming Software: Stream like a Pro with our Suite
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Our suite offers easy configuration for all streaming software, allowing you to quickly and easily set up and use all of the features and capabilities that our suite offers. This makes it easy to stream like a pro, regardless of the software you use, and provides you with the flexibility to choose the streaming software that best suits your needs.
                </p>     
            </div>
            <div class="tool-tip span-col2">
                <div class="tool-name"> Shop Page
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Our suite includes a shop page where viewers can spend their earned loyalty coins, providing a unique monetization opportunity for streamers and exclusive content for viewers to access.
                </p>     
            </div>
            <div class="tool-tip span-col3">
                <div class="tool-name"> Flexible Pricing: Pay Only for What You Need with Our Suite
                    <div class="tool-icon">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                </div>
                <p>
                    Our suite is designed to be highly customizable, allowing you to pay only for the features and capabilities that you need. This provides you with the flexibility to choose the plan that best suits your needs and budget, ensuring that you get the most out of our suite without overspending.
                </p>     
            </div>
        </div> 
    </div>        
</div>
<!-- <div id="api" class="page3">
    <div class="page-container ">
        <div class="title"> 
            <img src="assets/img/Landing/logo.png"> LOYALTY API
        </div>
        <H3>REWARD YOUR COMUNITY</H3>
        <h4>ENABLE LOYALTY POINTS - GET YOUR OWN SHOP PAGE - EDIT YOUR SHOP ITEMS</h4>
        <div class="page-inside grid-3">        
            <div class="hero"> 
                <h2> ENABLE LOYALTY POINTS</h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>     
            <div class="hero"> 
                <h2> GET YOUR OWN SHOP PAGE WITH 1 CLICK</h2>
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div> 
            <div class="hero">                 
                <h2> USE OUR API TO IMPLEMENT THE SHOP IN YOUR WEBSITE </h2>                
                <img src="https://miro.medium.com/max/1400/1*QDHXQmzFWEa_TpRZ9cxlHQ.png">
            </div>        
        </div> 
    </div>    
</div> -->


