<div class="context">   
</div>
<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul> 
<div class="container" style="margin-left: 20%; margin-top: 70px; position: absolute; background-color: rgba(34, 34, 34, 0.397); color: white;">
    <div class="row">
    <div class="col-6">
        <h2>Version 0.9.9.2</h2>
        <h4>1.Font changed to Rajdhani for a better look</h4>
        <h4>2.Landing page visual update.</h4>
        <h4>3.Tournament slot without image default image changed for a better look</h4>
        <h4>4.<b>Static bonus opening fixed</b>, disable scroll bonuses before opening and click save! </h4>
        </div>
        </div>
        </div>

        </div>