#inneriframe
{
    position:absolute;
    top:0px;
    width: 100%;  
}

iframe
{
    border: hidden;
}

#outerdiv
{    
    margin-left: -16px;
    height: 258px;
    width: 116%;
    overflow:hidden;
    position:relative;
}

.bh-value
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;              
}

.col-hd
{
    text-align: center;
    font-size: 20px;
}