
<div class="animate__animated animate__bounceInRight width-500" [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}" *ngIf="loadingOver">   
  <div class="bonus-hunt bonus-hunt-grid">
    <div class="bonus-hunt-header"> 
      <div class="bonus-header-new grid-col-top">   
        <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/target2.png);"> </div>      
        <div class="hunt-info">
          <span>
            <h2> Bonus Hunt #{{bonusHunt.huntNumber}} </h2>
            Voteaza balanta finala !final [suma]
          </span>
        </div> 
        <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/controller.png);"></div>           
        <div class="games-no">
          <h4 style="text-align: center !important;" > {{Opened}}/{{bonusHunt.bonuses.length}}</h4>
          <h5 style="text-align: center !important;"  *ngIf="Hunting"> Hunting</h5>
          <h5 style="text-align: center !important;"  *ngIf="!Hunting"> Opening</h5>
        </div>
      </div>
      <div class="old-stats-bar">
        <div class="grid grid-col-4">
          <div class="col-x top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/play-button.png);"> </div>
          </div>
          <div class="col-x top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/avgbet.png);"> </div>
          </div>            
          <div class="col-x top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/beven.png);"> </div>
          </div>          
          <div class="col-x top-radius">
            <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/refund.png);"> </div>
          </div>
        </div>
        <div class="grid grid-col-4">
          <div class="col-x bottom-radius">
            <h3 class="bh-value">{{bonusHunt.huntValue | currency:currencyCode:' ':'.0'}}   </h3>   
          </div>
          <div class="col-x bottom-radius">
            <h3 class="bh-value">{{AverageBet | currency:'':currencyCode:'.0'}}</h3>       
          </div>
          <div class="col-x bottom-radius">
            <h3 class="bh-value">{{AverageMultiToBreakEven | currency:'':'x':'.0'}}  </h3>       
          </div>          
          <div class="col-x bottom-radius">
            <h3 class="bh-value">{{ bonusHunt.bonuses | sum:'payed' | currency:currencyCode:' ':'.0'}}   </h3>              
          </div>
        </div>
      </div>     
      <div class="bonus-header-new repeat-fr">
        <div class="bonus-header-new">
          <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/crown.png);"> </div>        
          <div class="new-stats"> {{BestPayGame.gameName ?? "WAITING"}} </div>   
          <div class="new-stats">{{BestPayValue | currency:'':currencyCode:'.0'}} ({{BestPayGame.betSize}}X{{BestPayGame.multiplier ?? 0}})</div>         
        </div>
        <div class="bonus-header-new" *ngIf="LiveAverageMultiToBreakEven >= '0'">
          <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/multi.png);"> </div>        
          <div class="new-stats" > live break even x </div>
          <div class="new-stats" >  {{LiveAverageMultiToBreakEven | currency:'':'x':'.0'}}  </div>       
        </div>
        <div class="bonus-header-new" *ngIf="LiveAverageMultiToBreakEven < '0'">
          <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/multi.png);"> </div>        
          <div class="new-stats"> profit {{currencyCode}} </div>
          <div class="new-stats" >   {{(bonusHunt.bonuses | sum:'payed') - bonusHunt.huntValue}}  </div>       
        </div>
        <div class="bonus-header-new">
          <div class="header-image" style="-webkit-mask-box-image: url(../../assets/img/shit.png);"> </div>        
          <div class="new-stats"> {{ShitPayGame}} </div>
          <div class="new-stats"> {{ShitPay | currency:'':'x':'.0'}}</div>
        </div>
      </div>
      <div class="container-flex">
        <div class="row col-bg">
          <div class="col-7 col-hd">Name</div>       
          <div class="col-3 col-hd">Bet</div>         
          <div class="col-2 col-hd">Pay</div>         
        </div>      
      </div>        
      <div  class="container fullwidth" style="overflow: hidden !important;"> 
        <div id="outerdiv">
          <iframe id="inneriframe" [ngStyle]="{'height': customHeight}" [src]="href | safe">   
          </iframe>    
        </div>
      </div>         
    </div> 
  </div> 
</div> 