<div class="container" style="margin-top: 10px;">
    <h4>Titlu</h4>
    <div class="label"> {{beturi.voteTitle}}
        <input (keydown.enter)="SaveBetting()" type="text" class="form-control" [(ngModel)]="beturi.voteTitle" id="typeahead-basic"/>                
    </div>
    <h4>Bonuses</h4>
    <div class="row" *ngFor="let bet of beturi.options;let i = index" [attr.data-index]="i">
        <div class="col-2">
            <div class="label"> {{i + 1}}. Name
                <input (keydown.enter)="SaveBetting()" type="text" class="form-control" [(ngModel)]="bet.nume" id="typeahead-basic"/>                
            </div>
        </div>        
        <div class="label" >Delete<br>  
            <button class="btn btn-primary"  (click)="delete(i)"> <i class="fa fa-minus" aria-hidden="true"></i> </button>
        </div>  
    </div>
</div>
