.loserImg
{
    z-index: 9999;
    position: absolute;
    top: -70%;
    right: 10px;
    font-size: 186px;
    font-weight:bolder !important;
    color: red;
    font-family: TournamentVersus;
    animation-iteration-count:0;
}

.div-header
{    
    margin-top: -10px;
    font-size: 20px;
}