    <div class="animate__animated animate__fadeIn" *ngIf="loadingOver">       
        <div [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}">  
            <div class="tournament">
                <!--OPTIMI-->
                <div class="parent-container" *ngIf="isOptimi">
                    <div class="fight-box-container" *ngFor="let Meci of MeciuriOptimi;let i = index" [attr.data-index]="i">
                        <div class="fight-box" [ngClass]="{'loser': Meci.team2.hasWon, 'winner': Meci.team1.hasWon}">                                
                            <div class="game-box">          
                                <div class="user-name">{{Meci.team1.numeJucator}}</div>                      
                                <div class="image-box-fill">
                                    <img  [src]="gameHolder.getImage(Meci.team1.nume)" alt="{{Meci.team1.nume}}" *ngIf="gameHolder.hasImage(Meci.team1.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team1.nume) == false">{{Meci.team1.nume}}</div>                                                    
                                </div>
                                <div class="scor">Score : {{Meci.team1.scor}}</div> 
                            </div>
                        </div> 
                        <div class="vs" style="-webkit-mask-box-image: url(../../assets/img/versus.png);"> </div>  
                        <div class="fight-box" [ngClass]="{'loser': Meci.team1.hasWon, 'winner': Meci.team2.hasWon}">                                
                            <div class="game-box">        
                                <div class="user-name">{{Meci.team2.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(Meci.team2.nume)" alt="{{Meci.team2.nume}}" *ngIf="gameHolder.hasImage(Meci.team2.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team2.nume) == false" >{{Meci.team2.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{Meci.team2.scor}}</div>                                              
                            </div>     
                        </div>     
                    </div>
                </div>
                <!--spreturi-->
                <div class="parent-container" *ngIf="isQuarter && !isOptimi" [ngClass]="{'animate__animated animate__fadeOutUp': !isQuarterVisible}">
                    <div class="fight-box-container" *ngFor="let Meci of MeciuriSferturi;let i = index" [attr.data-index]="i">
                        <div class="fight-box" [ngClass]="{'loser': Meci.team2.hasWon, 'winner': Meci.team1.hasWon}">                                
                            <div class="game-box">          
                                <div class="user-name">{{Meci.team1.numeJucator}}</div>                      
                                <div class="image-box-fill">
                                    <img  [src]="gameHolder.getImage(Meci.team1.nume)" alt="{{Meci.team1.nume}}" *ngIf="gameHolder.hasImage(Meci.team1.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team1.nume) == false" 
                                    >{{Meci.team1.nume}}</div>                                                    
                                </div>
                                <div class="scor">Score : {{Meci.team1.scor}}</div> 
                            </div>
                        </div> 
                        <div class="vs" style="-webkit-mask-box-image: url(../../assets/img/versus.png);"> </div>  
                        <div class="fight-box" [ngClass]="{'loser': Meci.team1.hasWon, 'winner': Meci.team2.hasWon}">                                
                            <div class="game-box">        
                                <div class="user-name">{{Meci.team2.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(Meci.team2.nume)" alt="{{Meci.team2.nume}}" *ngIf="gameHolder.hasImage(Meci.team2.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team2.nume) == false" >{{Meci.team2.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{Meci.team2.scor}}</div>                                              
                            </div>     
                        </div>     
                    </div>
                </div>
                
                <!--semifinale-->
                <div class="parent-container" *ngIf="!isQuarter && !isOptimi && !MeciFinal.team1.hasWon && !MeciFinal.team2.hasWon"[ngClass]="{'animate__animated animate__fadeInUp': true}">
                    <div class="fight-box-container" *ngFor="let Meci of MeciuriSemiFinale;let i = index" [attr.data-index]="i">
                        <div class="fight-box" [ngClass]="{'loser': Meci.team2.hasWon, 'winner': Meci.team1.hasWon}">                                
                            <div class="game-box">          
                                <div class="user-name">{{Meci.team1.numeJucator}}</div>                      
                                <div class="image-box-fill">
                                    <img  [src]="gameHolder.getImage(Meci.team1.nume)" alt="{{Meci.team1.nume}}" *ngIf="gameHolder.hasImage(Meci.team1.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team1.nume) == false" 
                                    >{{Meci.team1.nume}}</div>                                                    
                                </div>
                                <div class="scor">Score : {{Meci.team1.scor}}</div> 
                            </div>
                        </div> 
                        <div class="vs" style="-webkit-mask-box-image: url(../../assets/img/versus.png);"> </div>  
                        <div class="fight-box" [ngClass]="{'loser': Meci.team1.hasWon, 'winner': Meci.team2.hasWon}">                                
                            <div class="game-box">        
                                <div class="user-name">{{Meci.team2.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(Meci.team2.nume)" alt="{{Meci.team2.nume}}" *ngIf="gameHolder.hasImage(Meci.team2.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(Meci.team2.nume) == false" >{{Meci.team2.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{Meci.team2.scor}}</div>                                              
                            </div>     
                        </div>     
                    </div>    
                </div>         
                
                <!--Meci Final-->
                <div class="parent-container" *ngIf="!isQuarter && !isOptimi && MeciFinal.team1.nume && MeciFinal.team2.nume" [ngClass]="{'animate__animated animate__fadeInUp': true}">
                    <div class="fight-box-container">
                        <div class="fight-box" [ngClass]="{'loser': MeciFinal.team2.hasWon, 'winner': MeciFinal.team1.hasWon}">                                
                            <div class="game-box">          
                                <div class="user-name">{{MeciFinal.team1.numeJucator}}</div>                      
                                <div class="image-box-fill">
                                    <img  [src]="gameHolder.getImage(MeciFinal.team1.nume)" alt="{{MeciFinal.team1.nume}}" *ngIf="gameHolder.hasImage(MeciFinal.team1.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(MeciFinal.team1.nume) == false" 
                                    >{{MeciFinal.team1.nume}}</div>                                                    
                                </div>
                                <div class="scor">Score : {{MeciFinal.team1.scor}}</div> 
                            </div>
                        </div> 
                        <div  class="vs" style="-webkit-mask-box-image: url(../../assets/img/versus.png);"> </div>  
                        <div class="fight-box" [ngClass]="{'loser': MeciFinal.team1.hasWon, 'winner': MeciFinal.team2.hasWon}">                                
                            <div class="game-box">        
                                <div class="user-name">{{MeciFinal.team2.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(MeciFinal.team2.nume)" alt="{{MeciFinal.team2.nume}}" *ngIf="gameHolder.hasImage(MeciFinal.team2.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(MeciFinal.team2.nume) == false" >{{MeciFinal.team2.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{MeciFinal.team2.scor}}</div>                                              
                            </div>     
                        </div>     
                    </div>
                </div>
                <!--WINNER-->  
                <div class="" *ngIf="MeciFinal.team1.hasWon || MeciFinal.team2.hasWon" [ngClass]="{'animate__animated animate__fadeInUp': true}">
                    <div class="winner-box">
                        <div  *ngIf="MeciFinal.team1.hasWon || MeciFinal.team2.hasWon" class="header-image" style="-webkit-mask-box-image: url(../../assets/img/crown.png);"> </div>
                        <div class="winner-box-game">
                            <div class="game-box" *ngIf="MeciFinal.team1.hasWon">   
                                <div class="user-name">{{MeciFinal.team1.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(MeciFinal.team1.nume)" alt="{{MeciFinal.team1.nume}}" *ngIf="gameHolder.hasImage(MeciFinal.team1.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(MeciFinal.team1.nume) == false" >{{MeciFinal.team1.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{MeciFinal.team1.scor}}</div> 
                            </div>
                            <div class="game-box" *ngIf="MeciFinal.team2.hasWon">  
                                <div class="user-name">{{MeciFinal.team2.numeJucator}}</div>                        
                                <div class="image-box-fill" >
                                    <img  [src]="gameHolder.getImage(MeciFinal.team2.nume)" alt="{{MeciFinal.team2.nume}}" *ngIf="gameHolder.hasImage(MeciFinal.team2.nume)">
                                    <div class="notKnown" *ngIf="gameHolder.hasImage(MeciFinal.team2.nume) == false" >{{MeciFinal.team2.nume}}</div>
                                </div>  
                                <div class="scor">Score : {{MeciFinal.team2.scor}}</div> 
                            </div>
                        </div>
                    </div>                    
                </div>                    
            </div>      
        </div>    
    </div> 