.btn-google
{
    margin-top: 8px;
    border: 0px;
    height: 40px;
    width: 150px;   
    cursor: pointer;
    font-weight: bold;
    background: url('/assets/img/gbutton/btn_google_signin_dark_normal_web@2x.png');
    background-size: contain;
    background-repeat: no-repeat;  
    &:hover
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_focus_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &:active
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_pressed_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.profile-header{
    padding: 2rem;
    display: flex;
    width: 100%;
    height: minmax(300px,fit-content);
    background-image: url(https://cdn.discordapp.com/attachments/1008571223543922809/1067652158616514580/Zeeekk_futuristic_casino_interior_neon_lights_shadows_hard_smok_8810390f-7672-4a44-b043-8d984647b109.png);
    //background-image: url(https://cdn.discordapp.com/attachments/1008571223543922809/1067648049268138084/fahim_space_nature_217da7f6-24a4-4662-9aa3-46bda26711cd.png);
    background-attachment: fixed; 
    background-position: 50% 98%;
    background-size: cover; 
    color: black;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-section
{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.login-buttons
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px; 
    background-size: cover; 
    color: black;
    justify-content:space-around;  
    align-items: center;   
}

.profile-details-image
{
    text-align: center;
    color: white;
}

.profile-picture-streamer {
    margin: 1rem;
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
    border-right: 1px solid gray;
}

.profile-details
{
    margin: 1rem;   
    border-radius: 1rem;
    background-color: #ffffff;
    display: flex;
    min-width: 25rem;
    height: fit-content;  
    align-self: center;  
}

.grid-details
{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    text-align: center; 
}

.center-div
{   
    display: flex;
    text-align: center;
    button
    {        
        margin: 0;
        padding: 0;
    }
}

.fa-refresh
{   
   font-size: 1.2rem;
   cursor: pointer;
}

.green-50o { 
    color: white;
    background-color: #22312285;
    border-radius: 1rem;
}

.transparent {background-color: transparent;}

.profile-picture {
    margin-left: 1rem;
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
    border-right: 1px solid gray;
}

.logout
{    
    width: 100%; 
    display: flex;
    justify-content: space-between;
}


.small-button
{
    background-color: transparent;
    padding: 8px;   
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    &:hover
    {  
        cursor: pointer;
        color: white;
        background-color: #0e2c53;
    }
    &:focus{ outline: none; border: 0; }
    
    &:active { outline: none; border: 0; }
}

.navbar-streamer
{
    background-color: #1f2e1f;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.settings-modal
{
    z-index: 100;
    background-color: #0e2c539a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-page
{       
    border-radius: 1rem;
    z-index: 105;
    padding: 6rem;
    background-color: white;
}

.option{
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1;
}
.option-nume
{
    font-size: 1.2rem;
    font-weight: bold;
}
.options-page >*{    
    flex: 1;
}

.option-value
{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 12px;
font-size: 1.0rem;
}

.options-page-buttons{    
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1rem;
}

.options-page{
    padding: 1rem;
}

.spin{
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}