<div class="streamer-page-valid">
    <div class="heroSection">    
        <div class="userProfile" >        
            <div class="profile-header"> 
                <div class="profile-details transparent">
                    <div class="profile-details-image">                        
                        <img  [src]="StreamerProfilePicture()" class="profile-picture-streamer">  
                    </div>
                    <div class="grid-details green-50o"> 
                        <h3> <b>{{userdataService.StreamerProfilePage.Infos.channelName}}</b> </h3> 
                        <p> <b>{{userdataService.StreamerProfilePage.Infos.loyaltySettings.rewardPerMinute | currency:'':userdataService.StreamerProfilePage.Infos.loyaltySettings.loyaltyName:'.0'}}</b> <b></b> / 10 minutes</p>
                    </div>
                </div>
                <div class="profile-details"  *ngIf="!IsLoggedin()"> 
                    <div class="login-buttons">                          
                        <button class="btn-google" (click)="loginWithGoogle()"></button>                    
                        <twitch-login scopes="user:read:email+openid+analytics:read:games" (callback)="twitchLoginCallback($event)" label="Login Twitch 🚀"></twitch-login> 
                    </div>
                </div>
                <div class="profile-details" *ngIf="IsLoggedin()">
                    <img [src]="ProfilePicture()" class="profile-picture">
                    <div class="grid-details">                    
                        <h3>{{userdataService.ViewerLoginProfile.UserName}}</h3>                    
                        <p *ngIf="!userdataService.ViewerLoginProfile.IsMember">Viewer</p>
                        <p *ngIf="userdataService.ViewerLoginProfile.IsMember">Subscriber</p>  
                        <div class="inline">
                            <i class="fa fa-refresh" (click)="refreshPoints()" [ngClass]="{'spin':refresh}" aria-hidden="true"></i> 
                            {{userdataService.ViewerCoinsOnCurrentShop | currency:'':userdataService.StreamerProfilePage.Infos.loyaltySettings.loyaltyName:'.0'}}
                        </div>       
                        <button *ngIf="!userdataService.ViewerLoginProfile.IsVerified"
                        class="btn btn-danger"
                        (click)="userdataService.VerifyUserAccount()">Verifica Contul</button> 
                        <div class="logout">
                            <button (click)="OpenSettings()" class="small-button"><i class="fa fa-cogs" aria-hidden="true"></i>
                                Settings<sup *ngIf="userdataService.ViewerLoginProfile.HasNotifications" style="color: red;">●</sup>
                            </button>
                            
                            <button (click)="userdataService.logOut()" class="small-button"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</button>
                        </div>             
                    </div>
                </div>         
            </div>        
        </div>
    </div>
    
    <div class="settings-modal" *ngIf="IsModalOpen">    
        <div class="options-page" *ngIf="userdataService.SettingsOfThisPage.length > 0">        
            <div class="option" *ngFor="let item of userdataService.SettingsOfThisPage">
                <div class="option-nume">{{item.key}}</div>
                <input class="option-value" [(ngModel)]="item.value">
                <span>
                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{item.reason}}
                </span> 
            </div>        
            <div class="options-page-buttons">
                <button (click)="SaveSettings()" class="btn btn-dark">Save</button>  
                <button (click)="OpenSettings()" class="btn btn-danger">Cancel</button>          
            </div>        
        </div>
        <div class="options-page" *ngIf="userdataService.SettingsOfThisPage.length == 0">
            <div class="h3">Streamer did not setup a settings page!</div>
            <button (click)="OpenSettings()" class="btn btn-danger">Close</button>
        </div>
        
    </div>
    <div class="navbar-streamer">
        <button class="btn btn-light" [routerLink]="['/streamer/'+userdataService.StreamerProfilePage.streamerID+'/shop']"><i class="fa fa-shopping-cart" aria-hidden="true"> </i> Shop</button>
        <button class="btn btn-light" [routerLink]="['/streamer/'+userdataService.StreamerProfilePage.streamerID+'/history']"><i class="fa fa-bar-chart" aria-hidden="true"></i> History</button>
        <button class="btn btn-light" [routerLink]="['/streamer/'+userdataService.StreamerProfilePage.streamerID+'/giveaways']"><i class="fa fa-ticket" aria-hidden="true"></i> Giveaways</button>
        <button class="btn btn-light" [routerLink]="['/streamer/'+userdataService.StreamerProfilePage.streamerID+'/casinos']"><i class="fa fa-gift" aria-hidden="true"></i> Casinos </button>
    </div>
    <div class="">
        <router-outlet></router-outlet>
    </div>
    
</div>

<div class="streamer-page-valid" *ngIf="!userdataService.IsValidStreamer">
    <h1>Looks like this streamer is not in our database, or he did not set up a shop page.</h1>
</div>

<footer class="footer bg-dark">
    <div style="justify-content: space-between; color: white;" class="container" style="color: white;">   
      <div class="row">
        <div class="col">    
          <br>
          <div class="g-ytsubscribe" data-channelid="UCVys2Q0f659A5EutSddgcDA" style="height: 60px;" data-layout="full" data-theme="dark" data-count="default"></div>
          <br>
          v 00 - LTS 1.0 - Comes In March
          <br>
          <span>Want a licence? Join Discord 
            <span> 
              <a href="https://discord.gg/UvtsVmevEg">
                <img alt="JOIN OUR DISCORD TO CREATE AN ACCOUNT FOR OUR Casino Stream Overlay - Bonus Hunt Overlay - Slots Tournaments Overlay" style="height: 63px;" src="assets/img/discord_1.png">
              </a>
            </span>            
          </span> 
          <br>
          Some content of this website may be used without any permisions, if you have any copyright issues please adress to coxinotv@gmail.com
          <br>
        </div>
        <div class="col">
        
          <a style="max-width: 200px;" href="https://coxino.ro/streamer/coxino/shop">  <h2>Coxino.Ro Shop</h2> <img alt="coxino.ro shop bonusuri casino gratuite chiar daca ai cont - cel mai bun streamer de casino din romania" src="./assets/img/bonusuri casino.png"/></a>
        </div>
      </div>
    </div>
    <img class="CasinoStreamOverlayLogo" alt="The most easy to use Casino Stream Overlay - BonusHunt Overlay - best Slots Tournaments - slots royale rumble overlay - casino stream loialty sistem - bonusuri casino gratuite chiar daca ai cont" src="./assets/img/Landing/logo.png"/>
    <img class="CasinoStreamOverlayLogo" alt="The most easy to use Casino Stream Overlay - BonusHunt Overlay - best Slots Tournaments - slots royale rumble overlay - casino stream loialty sistem - bonusuri casino gratuite chiar daca ai cont" src="./assets/img/Landing/logo.png"/>
  </footer>
