.wheel{   
    background-color: var(--backgroundColor);
    height: 360px;
    width: 10200px;
    display: flex;
    overflow-y: auto !important;    
    scroll-behavior: smooth;
    position: absolute;
    animation: scrollee 6s forwards 1s;
}

@keyframes scrollee {
    0% {
        left: 0;
    }        
    100% {
        left: var(--animationThrow);    
    }
}

.inline_item{
    width: 250px;
    display: inline-flex;
    border: 1;
    border: 2px solid rgba(55, 182, 255, 0.164);
    margin-top: 20px;
    margin-bottom: 20px;
    //border-radius: 18px;    
}

.item{
    text-align: center;
}

.arrow
{
    top: -8px;
    left: 50%;
    width: 50px;
    position: fixed;
    
    
} 

.bottom
{transform: rotate(180deg);
    top: 300px;
    left: 50%;
    width: 50px;
    position: fixed;
}