
<div class="tooltips-container">
    <div class="tool-tip">
        <div class="tool-name">Update Notes
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        Tooltips are comming in march , use the old views untill then,
        this is just a preview, hope you like it.       
    </div>
    <div class="tool-tip">
        <div class="tool-name">Bonus Hunt Tooltip
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-bonushunt-tooltip></app-bonushunt-tooltip>
        </div>
    </div>
    <div class="tool-tip">
        <div class="tool-name">
            Tournament Tooltip
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-tournament-tooltip></app-tournament-tooltip>
        </div>
        
    </div>
</div>
