
<div class="tooltips-container">
    <div class="tool-tip span-col2">
        <div class="tool-name">Update Notes
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <p>In March, tooltips will be implemented. Until then, please continue to use the current views. This page serves as a preview, and we hope you find it to your liking. You will have the ability to dismiss, pin, edit, and configure the tooltips as desired. All updates will be made available here, allowing you to stay informed on our progress and objectives.</p>     
    </div>
    <div class="tool-tip span-col2">
        <div class="tool-name">Translations
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <p>We are pleased to announce that translations to major languages will be available sooner than previously expected. Additionally, you will have the flexibility to set your preferred currency. Furthermore, you will have the ability to edit any of the texts to better fit your unique style and preferences, in case the provided translations do not meet your expectations.</p>
        </div>
    </div>
    <div class="tool-tip">
        <div class="tool-name">
            Previous Bonushunt Details
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <p>As of March 1, 2023, you will have the ability to access both past bonus hunts and tournaments, dating back to September 1, 2021.</p>
        </div>        
    </div>
    <div class="tool-tip span-row2">
        <div class="tool-name">
            Loyalty API
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <p>We are also pleased to announce the launch of our Loyalty API. This will allow developers to access and manage loyalty program data, enabling integration with other systems and streamlining processes. The API will provide a robust set of features, including the ability to create and manage rewards, track points and transactions, and access real-time data on customer engagement</p>
        </div>        
    </div>    
    <div class="tool-tip span-col2 span-row4">
        <div class="tool-name">
            Betting Editor
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
           <app-betting-edit></app-betting-edit>
        </div>  
    </div>
    
    <div class="tool-tip span-col2">
        <div class="tool-name">
            Chatbot
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
           <p>We are excited to announce that we will be eliminating the need for Streamlabs Chatbot, for our software. We will be launching our own system that will be easy to set up and configure, providing you more control and flexibility. However, support for Python code for Streamlabs will still be available for those who prefer to use it.</p>
        </div>        
    </div>
    

     <!-- <div class="tool-tip span-col2 span-row2">
        <div class="tool-name">Bonus Hunt Tooltip
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-bonushunt-editor></app-bonushunt-editor>
        </div>
    </div>     -->    
    <div class="tool-tip fixed-tip">
        <div class="tool-name">
            Favourite Settings
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-tournament-tooltip></app-tournament-tooltip>
        </div>        
    </div>
    <div class="tool-tip fixed-tip">
        <div class="tool-name">
            Custom Tooltips
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-tournament-tooltip></app-tournament-tooltip>
        </div>        
    </div>
    <div class="tool-tip fixed-tip">
        <div class="tool-name">
            Custom Tooltips
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-tournament-tooltip></app-tournament-tooltip>
        </div>        
    </div>
    <div class="tool-tip fixed-tip">
        <div class="tool-name">
            Custom Tooltips
            <div class="tool-icon">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tool-container">
            <app-tournament-tooltip></app-tournament-tooltip>
        </div>        
    </div>
</div>
