$color1:#121619;
$color2:#7F5A83;
$color3:#A188A6;
$color4:#FFAF87;
$color5:#4CE0B3;
$color6:#33223a;

.tooltips-container
{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.tool-tip
{   
    border: 1px solid red;
    border-radius: 1rem;
    background:linear-gradient(120deg, $color1 0%, $color6 50%, $color1 100%);
    .tool-name
    {
        font-size: large;
        font-weight: bolder;
        padding: 4px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #FFAF87;
        color: black;
        display: grid;
        grid-template-columns: auto 0.1fr;
    }
}

.tool-container{
    padding: 1rem;
}


//SPANS
.span-row1
{
    grid-row: span 1;
}

.span-col1
{
    grid-column: span 1;
}

.span-row2
{
    grid-row: span 2;
}

.span-col2
{
    grid-column: span 2;
}

.span-row3
{
    grid-row: span 3;
}

.span-col3
{
    grid-column: span 3;
}