<div class="container-fluid fixed">   
    <h3> DEPOSITS/WITHDRAWS </h3>
    <div class="row">
        <div class="col-2">
            <div class="label"> Deposit
                <input class="input-group-text" (keydown.enter)="UpdateTranzactii()" type="number" class="form-control"required [(ngModel)]="Tranzactii.depunere"/>
            </div>
        </div>
        <div class="col-2" style="display:inline-flex">
            <div class="label" > Withdraw  
                <input class="input-group-text" (keydown.enter)="UpdateTranzactii()" type="number" class="form-control"required [(ngModel)]="Tranzactii.retragere">
            </div>          
        </div>
        <div class="col-4">
            <div class="label"> Game Name
                <input id="typeahead-basic" (keydown.enter)="UpdateInPlay()" class="input-group-text" type="text" class="form-control"required [(ngModel)]="LiveGame.game.name" [ngbTypeahead]="search"/>
            </div>
        </div>
    </div>
</div>
