<div [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}">
   
    <div class="container-flex" style="width: 98%; height: 98%;">
        <div style="height: 150px; margin: auto; text-align: center;">
          <h1>{{currentUser.name}} {{olTimerS}} </h1>
          <h2></h2> 
          <h3>Start-Current</h3>
          <h3>{{currentUser.start}}-{{currentUser.end}} = {{currentUser.start - currentUser.end}} </h3>
            </div>
        <div class="row">
            <div class="col-5">
                <div class="label">
                    <h2> Nume                             </h2>
                </div>
            </div>
            <div class="col-2">
                <div class="label">
                    <h2>  Start     </h2>  
                </div>
            </div>
            <div class="col-2">
                <div class="label">
                    <h2>  End         </h2>
                </div>
            </div>
            <div class="col-2">
                <div class="label"> 
                    <h2>   Scor </h2>
                    
                </div>
            </div> 
        </div>
        
        <div class="row" *ngFor="let user of pacaniada.users.slice(0,9);let i = index" [attr.data-index]="i">
            <div class="col-5">
                <div class="label">
                    <h2> {{i + 1}}.{{user.name}}  </h2>                            
                </div>
            </div>
            <div class="col-2">
                <div class="label">
                    <h2>  {{user.start}}            </h2>
                </div>
            </div>
            <div class="col-2">
                <div class="label">
                    <h2>   {{user.end}}     </h2>       
                </div>
            </div>
            <div class="col-2">
                <div class="label"> 
                    <h2> {{user.end - user.start}} </h2>
                </div>
            </div> 
        </div>
    </div>
</div>