
<div class="animate__animated animate__fadeInRight" [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}" *ngIf="loadingOver">
    <div class="bonus-fight">        
        <!-- JOC 1-->
        <div class="game">
            <div class="entry">
                <div class="poza">
                    <img class="round-image" [src]="gameHolder.getImage(fightDetails.team1.nume)">
                </div>
            </div>
            <div class="entry">               
              <div class="jucator" *ngIf="fightDetails.team1.numeJucator">{{fightDetails.team1.numeJucator}}</div>  
              <div class="game-name">{{fightDetails.team1.nume}}</div>
            </div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team1.buyCost | currency:'':currencyCode:'.0'}}</div>
            </div>           
            <div *ngFor="let payd of fightDetails.team1.payout;index as i" [attr.data-index]="i" class="entry">{{payd.payout | currency:'':currencyCode:'.0'}}</div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team1.scor}}</div>
            </div>
        </div>  
        <!-- JOC 2-->  
        <div class="game">
            <div class="entry">
                <div class="poza">
                    <img class="round-image" [src]="gameHolder.getImage(fightDetails.team2.nume)">
                </div>
            </div>
            <div class="entry">
              <div class="jucator" *ngIf="fightDetails.team2.numeJucator">{{fightDetails.team2.numeJucator}}</div>  
              <div class="game-name">{{fightDetails.team2.nume}}</div>  
            </div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team2.buyCost | currency:'':currencyCode:'.0'}}</div>
            </div>
            <div *ngFor="let payd of fightDetails.team2.payout;index as i" [attr.data-index]="i" class="entry">{{payd.payout | currency:'':currencyCode:'.0'}}</div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team2.scor}}</div>
            </div>
        </div>
    </div>
</div>