
<div class="animate__animated animate__fadeInRight" *ngIf="loadingOver">
<div class="gradient-border">   
    <div class="bonus-fight">
        <div class="parent-container d-flex">
            <div class="container">
                <div class="game title">{{fightDetails.team1.nume}}</div>                    
                <div class="game">{{fightDetails.team1.buyCost | currency:' ':'symbol':'.0'}}</div>  
                <div *ngFor="let payd of fightDetails.team1.payout">                    
                    <div class="game">{{payd.payout | currency:'  ':'symbol':'.0'}}</div>    
                </div>                
                <div class="game">{{fightDetails.team1.scor}}</div>                     
            </div>  
            <div class="middle">
                <div class="game title"><img src="../../assets/img/icon-sword.png"></div>                    
                <div class="game">BUY</div>  
                <div *ngFor="let payd of fightDetails.team2.payout;index as i" [attr.data-index]="i">                    
                    <div class="game">{{i+1}}</div>    
                </div>                
                <div class="game">SCORE</div> 
            </div>            
            <div class="container">
                <div class="game title">{{fightDetails.team2.nume}}</div>                    
                <div class="game">{{fightDetails.team2.buyCost | currency:' ':'symbol':'.0'}}</div>  
                <div *ngFor="let payd of fightDetails.team2.payout">                    
                    <div class="game">{{payd.payout | currency:'  ':'symbol':'.0'}}</div>    
                </div>                
                <div class="game">{{fightDetails.team2.scor}}</div> 
            </div>           
        </div>
    </div>
</div>
</div>