
<div class="animate__animated animate__fadeInRight" [ngClass]="{'gradient-border': IsAnimatedBorder == true, 'staticBorder': IsAnimatedBorder == false}" *ngIf="loadingOver">
    <div class="bonus-fight">        
        <!-- JOC 1-->
        <div class="game">
            <div class="entry">
                <div class="poza">
                    <img class="round-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy88gJz2OlC8W-tDgzjwtoAlerx068pm68kFAWWBGVJ4nD1LBawijfnpqX9SrisLu-bbw&usqp=CAU">
                </div>
            </div>
            <div class="entry">               
              <div class="jucator">{{fightDetails.team1.numeJucator}}</div>  
              <div class="game-name">{{fightDetails.team1.nume}}</div>
            </div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team2.scor}}</div>
            </div>
            <div *ngFor="let payd of fightDetails.team1.payout;index as i" [attr.data-index]="i" class="entry">{{payd.payout | currency:'':currencyCode:'.0'}}</div>
        </div>  
        <!-- JOC 2-->  
        <div class="game">
            <div class="entry">
                <div class="poza">
                    <img class="round-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy88gJz2OlC8W-tDgzjwtoAlerx068pm68kFAWWBGVJ4nD1LBawijfnpqX9SrisLu-bbw&usqp=CAU">
                </div>
            </div>
            <div class="entry">
              <div class="jucator">{{fightDetails.team2.numeJucator}}</div>  
              <div class="game-name">{{fightDetails.team2.nume}}</div>  
            </div>
            <div class="entry">
                <div class="scor-title">{{fightDetails.team2.scor}}</div>
            </div>
            <div *ngFor="let payd of fightDetails.team2.payout;index as i" [attr.data-index]="i" class="entry">{{payd.payout | currency:'':currencyCode:'.0'}}</div>
        </div>
    </div>
</div>



<!-- <div class="parent-container d-flex">
    <div class="container">
        <div class="game title">{{fightDetails.team1.nume}}</div>                    
        <div class="game">{{fightDetails.team1.buyCost | currency:' ':'symbol':'.0'}}</div>  
        <div *ngFor="let payd of fightDetails.team1.payout">                    
            <div class="game">{{payd.payout | currency:'  ':'symbol':'.0'}}</div>    
        </div>                
        <div class="game">{{fightDetails.team1.scor}}</div>                     
    </div>  
    <div class="middle">
        <div class="game title"><img src="../../assets/img/icon-sword.png"></div>                    
        <div class="game">BUY</div>  
        <div *ngFor="let payd of fightDetails.team2.payout;index as i" [attr.data-index]="i">                    
            <div class="game">{{i+1}}</div>    
        </div>                
        <div class="game">SCORE</div> 
    </div>            
    <div class="container">
        <div class="game title">{{fightDetails.team2.nume}}</div>                    
        <div class="game">{{fightDetails.team2.buyCost | currency:' ':'symbol':'.0'}}</div>  
        <div *ngFor="let payd of fightDetails.team2.payout">                    
            <div class="game">{{payd.payout | currency:'  ':'symbol':'.0'}}</div>    
        </div>                
        <div class="game">{{fightDetails.team2.scor}}</div> 
    </div>           
</div> -->