

.bonus-fight
{
    display: grid;
    grid-template-rows: 2;
}

.entry
{
    display: grid;
    grid-template-rows: 2;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.game
{
    overflow: hidden;
    overflow-wrap: none;
    word-wrap: unset;
    display: grid;
    grid-template-columns: 60px 240px 60px repeat(var(--repeatAmount),120px) 60px;
}

.game-name
{
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.scor-title{
    align-self: center;
}

.round-image
{
    padding: 2px;
    border-radius: 4%;
    width: 100%;
}

.jucator
{
    font-size: 14px;
}