    <div class="container-fluid" style="margin-top: 150px;">
        <div class="row">
            <div class="col-12">
                <div class="label"> 
                    <h1>Transactions View</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/tranzactii?username={{username}}&disableNav=true</h3>
                    <h3>Width : 500</h3>
                    <h3>Height : 80</h3>
                </div>                
            </div>
            <div class="col-12">
                <div class="label">
                    <h1>Bonus Hunt View</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/bh?username={{username}}&disableNav=true</h3>
                    <h3>Width : 500</h3>
                    <h3>Height : 320</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="label">
                    <h1>Bonus Hunt View(Only Bonuses)</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/innerbh?username={{username}}&disableNav=true</h3>
                    <h3>Width : 500</h3>
                    <h3>Height : 320</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="label"> 
                    <h1>In Play</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/in-play?username={{username}}&disableNav=true</h3>
                    <h3>Width : 350</h3>
                    <h3>Height : 240</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="label">
                    <h1>Tournament Current Fight</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/bf?username={{username}}&disableNav=true</h3>
                    <h3>Width : 500</h3>
                    <h3>Height : 280 (+30 foreach buy if buys count > 3)</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="label">
                    <h1>Tournament Bracket</h1>
                    <h3>Link : http://streamag.westeurope.cloudapp.azure.com:8080/bfnext?username={{username}}&disableNav=true</h3>
                    <h3>Width : 500</h3>
                    <h3>Height : 730</h3>
                </div>
            </div>
        </div>
    </div>